# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Node
node_modules/
dist/
build/
.npm/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
